
.root
{
   
}

.flow-pane
{
   
}

.list-cell
{
    -fx-background-color: #333;
}

.button
{
    -fx-background-color: #449d44;
}

.scroll-pane
{
    
}

#FRAME
{
    -fx-border-color: black;
    -fx-text-fill: white;
    -fx-background-color: #003333; 
    -fx-min-width: 300px;
    -fx-min-height: 50px;
}