
.root
{
   
}

.flow-pane
{
   
}

.list-cell
{
    -fx-background-color: #999;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected 
{
    -fx-background-color: #222;
}

.button
{

}

.scroll-pane
{
    
}

#FRAME
{
    -fx-border-color: black;
    -fx-text-fill: white;
    -fx-background-color: #003333; 
    -fx-min-width: 300px;
    -fx-min-height: 50px;
}

#STACK
{
    -fx-border-color: black;
    -fx-text-fill: white;
    -fx-background-color: #449d44; 
    -fx-min-width: 300px;
    -fx-min-height: 50px;
}