
.root
{
   
}

.flow-pane
{
   
}

.list-cell
{
    -fx-font-family: Consolas;
    -fx-font: 125%;

}

.list-cell:filled:selected:focused, .list-cell:filled:selected 
{
    -fx-background-color: greenyellow;
    
}

.button
{

}

.scroll-pane
{
    
}

#FRAME
{
    -fx-border-color: black;
    -fx-text-fill: BLACK;
    -fx-background-color: YELLOW; 
    -fx-min-width: 300px;
    -fx-min-height: 50px;
}

#STACK
{
    -fx-border-color: black;
    -fx-text-fill: white;
    -fx-background-color: GREEN; 
    -fx-min-width: 300px;
    -fx-min-height: 50px;
}

#register_pane
{
    -fx-font-family: Consolas;
    -fx-font-size: 200%;
    -fx-border-style: solid;
}

#bytecode_pane
{
    -fx-background-color: WHITE; 
}

#general_info_pane
{

}

#button_pane
{
    -fx-background-color: WHITE; 
}

#java_code_listview .list-cell:odd
{
    -fx-background-color: WHITE; 
}